@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100&display=swap");
:root {
  /*========== Colors ==========*/
  --celeste-color: #d5f6fb;
  --darkblue-color: #006d77;
  --mediumblue-color: #83c5be;
  --lightblue-color: #edf6f9;
  --pink-color: #ffddd2;
  --tonyspink-color: #e29578;
  --mustard-color: #ffde55;
  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --bigger-title: "Lora", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 300;
  --font-bold: 400;
  --font-light: 300;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --header-height: 3.5rem;
}

/*=============== BASE ===============*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  background-color: var(--lightblue-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.section {
  padding: 6.5rem 0 1rem;
}

.section__data {
  max-width: 500px;
  margin: 0 auto;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  color: var(--darkblue-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: url(/assets/img/wave.svg);
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section__header {
  font-family: var(--bigger-title);
  color: var(--darkblue-color);
  font-size: var(--biggest-font-size);
  margin-bottom: var(--mb-1);
  text-align: center;
}

.section__description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--darkblue-color);
  letter-spacing: 1px;
  text-align: center;
  line-height: 24px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.bold-text {
  font-weight: 500;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}

.header__container {
  margin: auto;
  width: 100%;
  max-width: 1024px;
  height: 80px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.contact__button {
  width: 200px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
  margin-bottom: 6px;
  border-radius: 20px;
  background-color: var(--mustard-color);
  font-size: 14px;
  color: var(--darkblue-color);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  z-index: 3;
}

/***************** TEST*/
#menu {
  z-index: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 30px 0px 110px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--darkblue-color);
  display: block;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#bar1 {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

#bar3 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.nav {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: var(--darkblue-color);
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  text-decoration: none;
  padding: 8px;
}

.nav li a:hover {
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-bg,
#menu {
  top: 0;
  right: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: var(--mediumblue-color);
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  -webkit-transform: translateY(4px) rotateZ(-45deg);
          transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  -webkit-transform: translateY(-6px) rotateZ(45deg);
          transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 620px;
  height: 600px;
  -webkit-transform: translate(350px, -200px);
          transform: translate(350px, -200px);
}

/***************** TEST*/
.nav__logo {
  width: 60px;
  height: 60px;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

/* Change background header */
.scroll-header {
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Active link */
.active-link {
  background-color: var(--celeste-color);
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home__container {
  background-size: cover;
  background-image: url("../../img/famiky3.jpg");
  width: 100vw;
  height: 100vh;
}

.home__data {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 50px;
  z-index: 2;
  max-width: 500px;
}

.home__title {
  font-family: var(--bigger-title);
  color: var(--darkblue-color);
  font-size: 56px;
  font-weight: 500;
  margin-bottom: var(--mb-1-5);
  line-height: 65px;
}

.home__description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  text-align: center;
  line-height: 20px;
  width: 100%;
  line-height: 24px;
  color: var(--darkblue-color);
}

.home__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 55px;
  background-color: var(--darkblue-color);
  border-radius: 30px;
  color: var(--lightblue-color);
  font-size: var(--h3-font-size);
}

.service__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 4rem;
  overflow-y: hidden;
  max-width: 500px;
  margin: 0 auto;
}

.service__img {
  height: 250px;
  margin-bottom: var(--mb-1);
}

.service__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-light);
  margin-bottom: var(--mb-0-75);
  letter-spacing: 1px;
  color: var(--darkblue-color);
  text-align: center;
}

.howitworks__color-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#edf6f9), to(#c5e4e3));
  background: linear-gradient(180deg, #edf6f9 0%, #c5e4e3 100%);
}

.howitworks__container {
  row-gap: 3.5rem;
}

.timeline__container {
  margin-bottom: var(--mb-3);
  margin-top: 100px;
}

.timeline-item__container {
  border-left: 1px solid var(--mediumblue-color);
  padding: 1rem;
  max-width: 300px;
  margin: 0 auto;
}

.timeline-item__number {
  font-size: var(--h3-font-size);
  margin-bottom: 3rem;
}

.timeline-item__title {
  font-family: var(--bigger-title);
  color: var(--darkblue-color);
  font-size: var(--h3-font-size);
  letter-spacing: 2px;
  margin-bottom: var(--mb-1);
}

.timeline-item__description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--darkblue-color);
  letter-spacing: 1px;
}

.about-us__container {
  row-gap: 5.5rem;
}

.about-us__color-wrapper {
  background-color: white;
  border-radius: 0px 0px 50px 50px;
}

.about-us__images {
  position: relative;
  margin: 0 auto;
}

.about-us__img {
  position: relative;
  width: 280px;
  border-radius: 50%;
}

.form-container {
  max-width: 800px;
  width: 100%;
  padding: 25px 40px 10px 40px;
}

.form-container form input,
.form-container form textarea {
  outline: none;
  color: var(--darkblue-color);
}

.form-container form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.form-container form .form-row .input-data label {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--darkblue-color);
}

.form-container form .form-row .input-data input {
  background: transparent;
}

.form-container form .form-row .input-data input:focus ~ label,
.form-container form .form-row .input-data input:valid ~ label {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  color: var(--tonyspink-color);
  font-size: 14px;
}

.form-container form .form-row .textarea {
  height: 70px;
}

.form-container form .form-row .textarea textarea {
  resize: none;
  padding-top: 10px;
  background: transparent;
}

.form-container form .form-row .textarea textarea:focus ~ label,
.form-container form .form-row .textarea textarea:valid ~ label {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  color: var(--tonyspink-color);
  font-size: 14px;
}

.form-container form .form-row .textarea label {
  width: 100%;
  bottom: 40px;
}

.form-container form .form-row .input-data input,
.form-container form .form-row .textarea textarea {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid var(--mediumblue-color);
}

.form-container form .form-row .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin: 50px auto 0px auto;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid var(--tonyspink-color);
}

.form-container form .form-row .button-wrapper button {
  border: none;
  color: var(--darkblue-color);
  background: transparent;
}

@media (max-width: 700px) {
  .form-container form {
    padding: 10px 0 0 0 0;
  }
  .form-container form .form-row {
    display: block;
  }
  .form-container form .form-row .input-data {
    margin: 35px 0 !important;
  }
}

.contact-timeline__container {
  padding: 10px 0;
}

.contact-timeline__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--darkblue-color);
  letter-spacing: 1px;
}

.contact-timeline__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d5f6fb;
  padding: 5px;
  border-radius: 50%;
}

.questions__container {
  max-width: 800px;
  margin: 4rem auto 4rem auto;
  border-radius: 20px;
  overflow: hidden;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--celeste-color);
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.question__number {
  margin-right: 1rem;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.15em;
  color: #006d77;
}

.question__title {
  position: relative;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: black;
  letter-spacing: 2px;
  padding-left: 1.7rem;
  text-align: left;
}

.question__answer {
  padding: 0 2rem 2rem 2rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: black;
  letter-spacing: 1px;
  line-height: 24px;
}

.active,
.accordion:hover {
  background-color: #d5f6fb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.panel {
  padding: 0rem 0rem;
  background-color: #d5f6fb;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  position: absolute;
  font-size: 13px;
  color: #777;
  right: 0;
  margin-right: 1rem;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.footer {
  background-color: var(--celeste-color);
}

.footer__container {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  max-width: 1440px;
  margin: 0 auto;
}

.footer__container .footer_section-container:first-of-type {
  border-right: 1px solid rgba(30, 40, 51, 0.07);
  gap: 2rem;
}

.footer_section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
  border-bottom: 1px solid rgba(30, 40, 51, 0.07);
}

.footer__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.footer__logo {
  min-width: 100px;
  height: 100px;
}

.logo__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  color: var(--darkblue-color);
}

.footer__description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--darkblue-color);
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
}

.footer__nav-column {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

.footer__nav-title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  color: var(--darkblue-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__title-decor::after {
  position: absolute;
  bottom: 3px;
  content: url(assets/img/wave.svg);
  margin-left: 15px;
}

.footer__nav-container a {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: black;
  letter-spacing: 1px;
  line-height: 24px;
}

.footer_bottom {
  padding: 2rem 2rem 1rem 2rem;
}

.footer_bottom p {
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  text-align: center;
  color: #1e2833;
}

.exito__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.exito__description {
  margin-bottom: var(--mb-2);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__img-bg {
    width: 220px;
  }
  .home__btn {
    font-size: var(--smaller-font-size);
  }
  .about-us__img {
    width: 230px;
  }
  .footer_section-container {
    padding: 1rem 0rem;
  }
}

@media screen and (min-width: 552px) {
  .footer_section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo__title {
    font-size: 2rem;
  }
  .footer__nav-social {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 925px) {
  #menu-bar {
    display: none;
  }
  #menu {
    position: initial;
    width: 100%;
    max-width: 700px;
  }
  .nav li a {
    font-size: var(--h3-font-size);
  }
  .nav {
    display: initial;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav li a {
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem;
  }
  .contact__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 20px;
    width: 240px;
    height: 40px;
    background-color: var(--mustard-color);
    font-size: 1rem;
    color: var(--darkblue-color);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }
  .instagram__fixed-icon:hover {
    background-color: var(--celeste-color);
    right: 0px;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 6.5rem 0 1rem;
  }
  .home__container {
    padding-top: 6rem;
    -ms-grid-columns: 1fr max-content;
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__data {
    margin: 0 auto;
  }
  .about-us__color-wrapper > section {
    padding: 5rem 0 6rem;
  }
  .about-us__data > *,
  .contact__data > * {
    text-align: left;
  }
  .about-us__data > .section__title::before,
  .contact__data > .section__title::before {
    content: none;
  }
  .about-us__data > .section__title::after,
  .contact__data > .section__title::after {
    position: absolute;
    bottom: 3px;
    content: url(assets/img/wave.svg);
    margin-left: 15px;
  }
  .about-us__data,
  .contact__data {
    margin: auto 0;
  }
  .about-us__container,
  .howitworks__container,
  .contact__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about-us__images {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .section.contact {
    padding: 4rem 0 3rem;
  }
  .hacer-cita__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hacer-cita__container .hacer-cita__data {
    margin: 0;
  }
  .accordion {
    padding: 2rem;
    margin-right: 1rem;
  }
  .question__title {
    font-size: var(--h3-font-size);
  }
  .question__answer {
    padding: 0 4rem 3rem 7rem;
    font-size: var(--small-font-size);
  }
  .accordion:after {
    content: "\02795";
    /* Unicode character for "plus" sign (+) */
    position: absolute;
    font-size: 13px;
    color: #777;
    right: 0;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .section__title {
    font-size: var(--h2-font-size);
  }
  .section__data > * {
    text-align: left;
  }
  .section__data > .section__title::before {
    content: none;
  }
  .section__data > .section__title::after {
    position: absolute;
    bottom: 3px;
    content: url(assets/img/wave.svg);
    margin-left: 15px;
  }
  .home__container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    background-image: url(assets/img/famiky3.jpg);
  }
  .home__description {
    max-width: 700px;
    text-align: justify;
    margin-bottom: var(--mb-2);
  }
  .home__data {
    background-color: #d5f6fbd7;
    border-radius: 30px;
    margin: 80px;
  }
  .services__data {
    margin-left: 0;
    margin-bottom: var(--mb-1-5);
  }
  .timeline__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    margin-top: var(--mb-3);
  }
  .timeline-item__number {
    margin-bottom: 8rem;
  }
  .service__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .service__card .service__title {
    font-size: 24px;
  }
  .timeline-item__container {
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .about-us__container,
  .howitworks__container,
  .contact__container {
    -webkit-column-gap: 8rem;
            column-gap: 8rem;
  }
  .about-us__img {
    width: 350px;
  }
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .about-us__container,
  .contact__container {
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .about-us__container {
    padding-top: 3rem;
  }
  .scrollup {
    right: 3rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.instagram__fixed-icon {
  position: fixed;
  right: -170px;
  top: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background-color: var(--darkblue-color);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.instagram__fixed-icon p {
  position: relative;
  font-size: var(--h3-font-size);
  color: var(--darkblue-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.instagram__fixed-icon-hide {
  display: none;
}
/*# sourceMappingURL=index.css.map */

.toast {
  visibility: hidden;
  max-width: 300px;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  font-size: 17px;
  padding: 10px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s, top 0.5s; /* Transition for smooth visibility */
}

.toast.success {
  background-color: #4CAF50;
}

.toast.error {
  background-color: #f44336;
}

.toast.show {
  visibility: visible;
  opacity: 1; /* Make the toast visible */
  top: 20px; /* Move the toast to the visible position */
}
